*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: sans-serif;
}

nav{
  background: #222222; 
  padding: 5px 20px;
}

ul{
  list-style-type: none;
  width: 80%;
}

a{
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu li{
  font-size: 16px;
  padding: 15px;
}

.menu li a{
  display: block;
}

.logo a {
 font-size: 20px;
}

.button.secondary{
  border-bottom: #444 solid;
}

/*Mobile Menu*/

.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.bars{
  background: white;
  display: inline-block;
  height: 2.5px;
  position: relative;
  width: 22px;
  border-radius: 2px;
}

.item.button{
  order: 2;

}

#toggle{
  cursor: pointer;
  order: 1;
}

.item {
  text-align: center;
  width: 100%;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

#toggle{
  cursor: pointer;
}

.bars::before, .bars::after{
  background: white;
  content: "";
  display: inline-block;
  height: 2.5px;
  position: absolute ;
  width: 22px;
  border-radius: 2px;
}

.bars::before{
  top: 8px;
}

.bars::after{
  top: -8px;
}


/** Table Menu**/


@media all and (min-width:700px){
  .menu{
    justify-content: center;
  }

  .logo{
    flex:1
  }

  .item.button{
    width: auto;
    order: 1;
    display: block;
  }

  #toggle{
    order: 2;
  }

  .button.secondary{
    border: 0;
  }
}

@media all and (min-width:1000px){ 
  .item{
    display: block;
    width: auto;
  }

  #toggle{
    display: none;
  }

  .logo{
    order:0;
  }

  .item{
    order: 1;
  }

  .button{
    order: 2;
  }

  .menu li {
    padding : 15px 20px;
  }

  menu li.button {
    padding-right: 0 ;
  }
}

